@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Weather Application</h1>
    <p>Welcome to my weather application, you can log into this app to view weather forecast of your choice</p>
</div>